
@{
    ViewData["Title"] = "References";
}

<h1>References</h1>
<p class="text-center">Most of the material used to create this Web Application has been through Lectures, Exercises and Assignments
    in my Coursework at the Southern Institute of Technology.
    <br />
    However there has been a little bit of Information that I have looked into and Researched in order to create some of the custom
    views and models within this Web Application</p>

    <h2>Expanding Identity</h2>
    <hr />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/NV734cJdZts" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h2>Creating Add/Edit/View/Delete Role View/Models & Controllers</h2>
    <hr />
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/TuJd2Ez9i3I" autoplay="off" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" autoplay="off" src="https://www.youtube.com/embed/7ikyZk5fGzk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/KGIT8P29jf4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
    <h2>LINQ</h2>
    <hr />
    <a href="https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/linq/">https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/linq/</a>